<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>

<body>
    o me estas intentando hacer un deface o no sabes escribir una URL,<br>
    asiq te dejo un enlace a inicio para que vuelvas a dónde te corresponde: <a href="/">volver a inicio</a>

    <div style="color: white;">easter egg para frikis:
        <a
            onclick="document.querySelector('iframe').style.display='initial'; document.querySelector('iframe').src += '&autoplay=1'"
            style="color: white; text-decoration: none;">
            easter egg</a>
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?mute=1" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen style="display: none"><iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=1" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    </iframe>
</body>

</html>