<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change your password</title>
</head>

<body>
    <form action="auth" method="post">
        <input type="text" id="username" name="username" placeholder="Nombre de usuario">
        <input type="password" id="pwd" name="pwd" placeholder="Contraseña">
        <input type="password" id="pwdNew" name="pwdNew" placeholder="Contraseña">
        <input type="submit" name="pwdChange" value="Enviar">
    </form>     
</body>

</html>